@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: #84a178;
  color: #131313;
  min-width: 320px;
}

:root {
  --primary-fon-color: #84a178;
  --green-fon-color: #aec6a5;
  --yellow-fon-color: #efd478;
  --brown-fon-color: #d6936d;
  --accent-color: #f8d24e;
  --black-text-color: #131313;
  --white-text-color: #fcfcfc;
  --orange-text-color: #d6936d;
  --gray-text-color: #ababab;
  --green-bnt-color: #0a8817;
  --copyright-color: #7a7a7a;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Заголовки секцій */
.section-title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #131313;
}

.section-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2333333333;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}

header {
  background-color: var(--primary-fon-color);
  position: relative;
}

.header__container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 480px) {
  .header__container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}

.header__logo {
  display: inline-block;
}
@media (max-width: 767px) {
  .header__logo {
    padding-top: 12px;
  }
}

.header__menu-btn {
  margin-top: 16px;
  padding: 0;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--white-text-color);
}
.header__menu-btn:hover, .header__menu-btn:focus {
  color: var(--accent-color);
}

.header__icon {
  background-color: transparent;
  color: inherit;
  fill: currentColor;
  stroke: currentColor;
}
.header__icon--close {
  display: none;
}
.header__menu-btn.is-open .header__icon--close {
  display: block;
}
.header__menu-btn.is-open .header__icon--menu {
  display: none;
}

@media (max-width: 767px) {
  .header__menu {
    padding: 48px 23px 63px;
    display: none;
  }
  .header__menu.is-open {
    display: flex;
    flex-direction: column;
    gap: 111px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 3;
    background-color: var(--primary-fon-color);
  }
}

@media (max-width: 767px) {
  .header__el:not(:last-child) {
    padding-bottom: 32px;
  }
}

.header__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21875;
  color: var(--white-text-color);
  letter-spacing: 0.04em;
}
.header__link:hover, .header__link:focus {
  color: var(--black-text-color);
}

.header__btn {
  margin: 0 auto;
  max-width: 152px;
  padding: 12px 34px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--black-text-color);
  border-radius: 10px;
  border: none;
}
.header__btn:hover {
  background-color: var(--green-bnt-color);
}
.header__btn:focus {
  background-color: var(--green-bnt-color);
  color: var(--white-text-color);
}
.header__btn--disable {
  background-color: var(--gray-text-color);
}

.hero {
  background-color: var(--primary-fon-color);
}

.hero__container {
  position: relative;
  padding: 58px 20px 239px;
  background-image: url(../images/hero/dots/sm-dots@1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 480px) {
  .hero__container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .hero__container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .hero__container {
    max-width: 1200px;
  }
}

.hero__title {
  margin-bottom: 32px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media (max-width: 767px) {
  .hero__title {
    max-width: 247px;
  }
}

.hero__title--end {
  font-size: 34px;
  line-height: 0.9705882353;
}

.hero__position-btn {
  display: flex;
  gap: 8px;
}

.hero__btn {
  padding: 8px 12px;
}
.hero__btn--border {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  color: var(--black-text-color);
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  background-color: transparent;
}
.hero__btn--border:hover {
  border: 2px solid var(--green-bnt-color);
}
.hero__btn--border:focus {
  border: 2px solid var(--green-bnt-color);
  color: var(--white-text-color);
}
.hero__btn--border--disable {
  border: 2px solid var(--gray-text-color);
}
.hero__btn--noborder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  background-color: transparent;
  border-color: transparent;
  border: none;
}
.hero__btn--noborder:hover {
  color: var(--green-bnt-color);
}
.hero__btn--noborder:focus {
  color: var(--white-text-color);
}
.hero__btn--noborder--disable {
  color: var(--gray-text-color);
}

.header__img-face {
  position: absolute;
  width: 83.3333333333%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #84a178;
}

.about__submit {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}

.about__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-transform: uppercase;
  color: #fcfcfc;
  text-align: center;
  margin-bottom: 40px;
}

.about__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  color: #FCFCFC;
  letter-spacing: 0.04em;
}

.gallery__img {
  margin: 0 auto;
}

.reviews {
  background-image: url(../images/gallery/bg/sm-bg-@1x.jpg);
  text-align: center;
}

.reviews__img {
  display: inline-block;
}

.reviews__comment-wrap {
  width: 100%;
  max-width: 460px;
  padding: 34px 39px;
  margin-top: 32px;
  border-radius: 10px;
  background-color: var(--primary-fon-color);
}

.reviews__comment {
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
}

.reviews__author {
  margin-top: 30px;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  color: var(--black-text-color);
}/*# sourceMappingURL=index.css.map */