.ingridients__modal {
  overflow-x: hidden;
  overflow-y: auto;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  @media (max-width: 479px) {
    min-width: 280px;
    width: calc(100% - 40px);
  }
  @media (max-width: 767px) {
    height: calc(100vh - 50px);
  }
  @media (min-width: 768px) {
    max-width: 568px;
    max-height: 670px;
  }
}

.ingridients__container {
  @media screen and (min-width: 480px) {
    width: 460px;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
  }
}

.ingridients__close-btn {
}

.ingridients__close-icon {
}

.ingridients__form {
  text-align: center;
  //   padding: 28px 28px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   @media (min-width: 768px) {
  //     padding-top: 32px;
  //     padding-bottom: 32px;
  //   }
}

.ingridients__title {
  margin: 0 auto;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);

  @media (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.ingridients__img {
  margin: 0 auto;
}
