.ingridients__modal {
  max-width: 280px;
  height: calc(100vh - 50px);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ingridients__close-btn {
}

.ingridients__close-icon {
}

.ingridients__form {
}
