.buy__modal {
  position: fixed;

  overflow-x: hidden;
  overflow-y: auto;

  background-color: var(--modal-fon-color);
  height: calc(100vh - 50px);

  &.active {
    opacity: 1;
    visibility: visible;
  }
  @media (max-width: 479px) {
    min-width: 280px;
    width: calc(100% - 40px);
  }
  @media screen and (min-width: 480px) {
    width: calc(480px - 20px);
  }

  @media (min-width: 768px) {
    width: 568px;
    max-height: 680px;
  }
}
