.ingridients__modal {
  max-width: 280px;
  height: calc(100vh - 50px);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  @media (max-width: 479px) {
    min-width: 280px;
    width: calc(100% - 40px);
  }
  @media (max-width: 767px) {
    height: calc(100vh - 50px);
  }
  @media (min-width: 768px) {
    max-width: 568px;
    max-height: 670px;
  }
}

.ingridients__container {
  @media screen and (min-width: 480px) {
    width: calc(480px - 20px);
  }

  @media screen and (min-width: 768px) {
    width: 568px;
  }
}

.ingridients__close-btn {
}

.ingridients__close-icon {
}

.ingridients__form {
}
