// ці використовуємо для медіаправил з min-width

$minmobile: 480px;
$mintablet: 768px;
$mindesktop: 1200px;

// ці використовуємо для медіаправил з max-width
$maxmobile: 479px;
$maxtablet: 767px;
$maxdesktop: 1199px;
