:root {
  --primary-fon-color: #84a178;
  --green-fon-color: #aec6a5;
  --yellow-fon-color: #efd478;
  --brown-fon-color: #d6936d;
  --modal-fon-color: #fcfcfc;
  --green-modal-circle: #96af8c;

  --accent-color: #f8d24e;

  --black-text-color: #131313;
  --white-text-color: #fcfcfc;
  --orange-text-color: #d6936d;
  --gray-text-color: #ababab;

  --green-bnt-color: #0a8817;

  --copyright-color: #7a7a7a;

  --yellow-circle-color: rgba(248, 210, 78, 0.7);
  --green-circle-color: rgba(156, 190, 143, 0.7);
  --brown-circle-color: rgba(213, 117, 63, 0.7);
  --white-circle-color: #d9d9d9;

  --green-box-shadow-circle: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  --yellow-box-shadow-circle: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  --brown-box-shadow-circle: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
