:root {
  --primary-fon-color: #84a178;
  --green-fon-color: #aec6a5;
  --yellow-fon-color: #efd478;
  --brown-fon-color: #d6936d;

  --accent-color: #f8d24e;

  --black-text-color: #131313;
  --white-text-color: #fcfcfc;
  --orange-text-color: #d6936d;
  --gray-text-color: #ababab;

  --green-bnt-color: #0a8817;

  --copyright-color: #7a7a7a;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
