<!-- Футер -->
<footer class="footer">
    <div class="container">
        <div class="wrap-flex">
            <div class="footer__wrap">
                <p class="footer__subtitle">
                    Homemade ice cream made 
                </p>
                <p class="footer__title">
                    With passion
                </p>
            </div>
            <address class="footer-connection">
                <ul class="footer-connection__social">
                    <li class="footer-connection__item">
                        <a href="https://github.com/" class="footer-connection__link" target="_blank">
                            <svg class="footer-connection__icon" width="20px" height="20px">
                              <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-connection__item">
                        <a href="https://telegram.org/" class="footer-connection__link" target="_blank">
                            <svg class="footer-connection__icon" width="20px" height="16px">
                              <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-connection__item">
                        <a href="https://m.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjY1NTIxMjMyLCJjYWxsc2l0ZV9pZCI6Nzk2MTcwNzM0NTY5ODY0fQ%3D%3D&locale2=uk_UA" class="footer-connection__link" target="_blank">
                            <svg class="footer-connection__icon" width="9px" height="20px">
                              <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer-connection__phone">
                    Feel free to contact&nbsp; 
                    <a href="tel:+610383766284" class="footer-connection__link-phone">
                        +61 (0) 383 766 284
                    </a>
                </p>
            </address>
        </div>
        <p class="rights">
            &#169; 2022 - IceCream. All&nbsp;Rights&nbsp;Reserved.
        </p>
    </div>
</footer>