<!-- gallery -->
<section class="gallery section">
  <div class="container">
    <h2 class="section-title visually-hidden">Gallery</h2>
    <div class="gallery__wrapper">
      <div class="slider">
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/gallery/lg-card1@1x.jpg 1x,
                ./images/gallery/lg-card1@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/md-card1@1x.jpg 1x,
                ./images/gallery/md-card1@2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/md-card1@1x.jpg"
              alt="ice-creams"
            />
          </picture>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/gallery/lg-card2@1x.jpg 1x,
                ./images/gallery/lg-card2@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/md-card2@1x.jpg 1x,
                ./images/gallery/md-card2@2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/md-card2@1x.jpg"
              alt="ice-creams"
            />
          </picture>
        </div>
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/gallery/lg-card3@1x.jpg 1x,
                ./images/gallery/lg-card3@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/md-card3@1x.jpg 1x,
                ./images/gallery/md-card3@2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/md-card3@1x.jpg"
              alt="ice-creams"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="backgroundtest"></div>
</section>
