<div class="header__container">
  <a href="" class="header__logo">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/header/sm-logo@1x.png 1x,
          ./images/header/sm-logo@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/header/md-logo@1x.png 1x,
          ./images/header/md-logo@2x.png 2x
        "
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/header/lg-logo@1x.png 1x,
          ./images/header/lg-logo@2x.png 2x
        "
      />
      <img
        src="./images/header/sm-logo@1x.png"
        alt="Logo"
        width="41"
        class="header__img"
      />
    </picture>
  </a>
  <div class="header__menu">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__el">
          <a href="http://" class="header__link">Home</a>
        </li>
        <li class="header__el">
          <a href="http://" class="header__link">How it’s made?</a>
        </li>
        <li class="header__el">
          <a href="http://" class="header__link">Our products</a>
        </li>
        <li class="header__el">
          <a href="http://" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__btn">Buy now</button>
  </div>
  <button type="button" class="header__menu-btn" data-menu-button>
    <svg
      width="32"
      height="32"
      aria-label="Переключатель мобильного меню"
      aria-expanded="false"
    >
      <use class="header__icon"></use>
      <use class="header__icon"></use>
    </svg>
  </button>
</div>
