<div class="buy__modal modal" data-modal="1">
  <button type="button" class="buy__close-btn js-modal-close modal__cross">
    <svg width="16" height="16" class="buy__close-icon">
      <use href="./images/sprite.svg#icon-modal-close"></use>
    </svg>
  </button>
  <form class="buy__form">
    <h2 class="buy__title">Buy now</h2>
    <ul class="buy__item-list">
      <li class="buy__item">
        <input
          type="checkbox"
          name="ice-cream"
          class="buy__check buy__check--green"
          id="green"
        />
        <label for="green" class="buy__katalog buy__katalog--green">
          <span class="buy__icon buy__icon--ice"></span>
          <span class="buy__shadow buy__shadow--green"></span>
          <span class="buy__name">ICE CREAM</span></label
        >
      </li>
      <li class="buy__item">
        <input
          type="checkbox"
          name="ice-cream"
          class="buy__check buy__check--yellow"
          id="yellow"
        />
        <label for="yellow" class="buy__katalog buy__katalog--yellow"
          ><span class="buy__icon buy__icon--coffee"></span>
          <span class="buy__shadow buy__shadow--yellow"></span>
          <span class="buy__name">ICE COFFEE</span></label
        >
      </li>
      <li class="buy__item">
        <input
          type="checkbox"
          name="ice-cream"
          class="buy__check buy__check--browm"
          id="brown"
        />
        <label for="brown" class="buy__katalog buy__katalog--brown"
          ><span class="buy__icon buy__icon--milk"></span>
          <span class="buy__shadow buy__shadow--brown"></span>
          <span class="buy__name">MILKSHAKE</span></label
        >
      </li>
    </ul>
    <div class="buy__input-position">
      <label for="buy__name" class="buy__label">
        <input
          type="text"
          name="name"
          class="buy__input"
          placeholder=" "
          id="buy__name"
          required
        />
        <span class="buy__dsc"> Name </span>
      </label>

      <label class="buy__label" for="buy__tel">
        <input
          type="tel"
          name="telephone"
          class="buy__input"
          placeholder=" "
          id="buy__tel"
          required
        />
        <span class="buy__dsc"> Phone </span>
      </label>

      <label class="buy__label" for="buy__comment">
        <textarea
          name="Comment"
          class="buy__textarea"
          placeholder=" "
          id="buy__comment"
        ></textarea>
        <span class="buy__dsc"> Comment </span>
      </label>
    </div>
    <button type="submit" class="buy__submit">Submit</button>
  </form>
</div>
<div class="overlay js-overlay-modal"></div>
