<section class="products section">
    <div class="products__content">
        100% natural
        <h2 class="products__title">products</h2>
        <ul class="products__items">
            <li class="products__item--icecream">
                <span class="products__fon--icecream"></span>
                <picture class="products__img">
                    <source srcset="
                        ./images/products/lg-iceCream@1x.png 1x,
                        ./images/products/lg-iceCream@2x.png 2x
                        " media="(min-width:1200px)" />
                    <source srcset="
                        ./images/products/md-iceCream@1x.png 1x,
                        ./images/products/md-iceCream@2x.png 2x
                        " media="(min-width:768px)" />
                    <source srcset="
                        ./images/products/sm-iceCream@1x.png 1x,
                        ./images/products/sm-iceCream@2x.png 2x
                        " media="(max-width:767px)" />
                    <img class="products__img" src="./images/products/sm-iceCream@1x.png" alt="ice-creams" />
                </picture>
                <h3 class="products__item-title">ice cream</h3>
                <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
            </li>
            <li class="products__item--icecoffee">
                <span class="products__fon--icecoffee"></span>
                <picture class="products__img">
                    <source srcset="
                        ./images/products/lg-iceCoffee@1x.png 1x,
                        ./images/products/lg-iceCoffee@2x.png 2x
                        " media="(min-width:1200px)" />
                    <source srcset="
                        ./images/products/md-iceCoffee@1x.png 1x,
                        ./images/products/md-iceCoffee@2x.png 2x
                        " media="(min-width:768px)" />
                    <source srcset="
                        ./images/products/sm-iceCoffee@1x.png 1x,
                        ./images/products/sm-iceCoffee@2x.png 2x
                        " media="(max-width:767px)" />
                    <img class="products__img" src="./images/products/sm-iceCoffee@1x.png" alt="ice-creams" />
                </picture>
                <h3 class="products__item-title">ice cream</h3>
                <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
            </li>
            <li class="products__item--milkshakes">
                <span class="products__fon--milkshakes"></span>
                <picture class="products__img">
                    <source srcset="
                        ./images/products/lg-milkshakes@1x.png 1x,
                        ./images/products/lg-milkshakes@2x.png 2x
                        " media="(min-width:1200px)" />
                    <source srcset="
                        ./images/products/md-milkshakes@1x.png 1x,
                        ./images/products/md-milkshakes@2x.png 2x
                        " media="(min-width:768px)" />
                    <source srcset="
                        ./images/products/sm-milkshakes@1x.png 1x,
                        ./images/products/sm-milkshakes@2x.png 2x
                        " media="(max-width:767px)" />
                    <img class="products__img" src="./images/products/sm-milkshakes@1x.png" alt="ice-creams" />
                </picture>
                <h3 class="products__item-title">ice cream</h3>
                <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
            </li>
        </ul>
    </div>
</section>
