<section class="products section" id="product">
  <div class="products__content container">
    <p class="products__submit">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__items">
      <li class="products__item--icecream">
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <!-- модалка -->
        <button
          type="button"
          class="products__description-btn js-open-modal"
          data-modal="2"
        >
          <svg class="products__description-icon" width="39" heigth="15">
            <use href="./images/sprite.svg#icon-arrow-default"></use>
          </svg>
        </button>
        <!-- модалка -->
      </li>
      <li class="products__item--icecoffee">
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <!-- модалка -->
        <button
          type="button"
          class="products__description-btn js-open-modal"
          data-modal="2"
        >
          <svg class="products__description-icon" width="39" heigth="15">
            <use href="./images/sprite.svg#icon-arrow-default"></use>
          </svg>
        </button>
        <!-- модалка -->
      </li>
      <li class="products__item--milkshakes">
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <!-- модалка -->
        <button
          type="button"
          class="products__description-btn js-open-modal"
          data-modal="2"
        >
          <svg class="products__description-icon" width="39" heigth="15">
            <use href="./images/sprite.svg#icon-arrow-default"></use>
          </svg>
        </button>
        <!-- модалка -->
      </li>
    </ul>
  </div>
</section>
