<!-- Відгуки  -->
<section class="reviews section">
  <div class="container">
    <h2 class="section-title visually-hidden">Customer reviews</h2>
    <div class="reviews__img-wrap">
      <picture>
        <source
          srcset="
            ./images/reviews/sm-emily@1x.jpg 1x,
            ./images/reviews/sm-emily@2x.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/reviews/sm-emily@1x.jpg 1x,
            ./images/reviews/sm-emily@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/reviews/sm-emily@1x.jpg 1x,
            ./images/reviews/sm-emily@2x.jpg 2x
          "
          media="(max-width:767px)"
        />

        <img
          class="reviews__img"
          src="./images/reviews/sm-emily@1x.jpg"
          alt="Emily"
        />
      </picture>
    </div>
    <div class="reviews__comment-wrap">
      <p class="reviews__comment">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <p class="reviews__author">Emily, Los Angeles</p>
    <div class="slider"></div>
  </div>
</section>
