<!-- Відгуки  -->
<section class="reviews section">
  <div class="container">
    <h2 class="section-title visually-hidden">Customer reviews</h2>
    <div class="slider2">
      <div class="slider2__item">
        <div class="reviews__img-wrap">
          <picture>
            <source
              srcset="
                ./images/reviews/sm-emily@1x.jpg 1x,
                ./images/reviews/sm-emily@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews/sm-emily@1x.jpg 1x,
                ./images/reviews/sm-emily@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/sm-emily@1x.jpg 1x,
                ./images/reviews/sm-emily@2x.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="reviews__img"
              src="./images/reviews/sm-emily@1x.jpg"
              alt="Emily"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="reviews__comment-wrap">
          <p class="reviews__comment">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="reviews__author">Emily, Los Angeles</p>
      </div>
      <div class="slider2__item">
        <div class="reviews__img-wrap">
          <picture>
            <source
              srcset="
                ./images/reviews/bryan@1x.jpg 1x,
                ./images/reviews/bryan@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews/bryan@1x.jpg 1x,
                ./images/reviews/bryan@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/bryan@1x.jpg 1x,
                ./images/reviews/bryan@2x.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="reviews__img"
              src="./images/reviews/bryan@1x.jpg"
              alt="Bryan"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="reviews__comment-wrap">
          <p class="reviews__comment">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <p class="reviews__author">Bryan, New-York</p>
      </div>
      <div class="slider2__item">
        <div class="reviews__img-wrap">
          <picture>
            <source
              srcset="
                ./images/reviews/diana@1x.jpg 1x,
                ./images/reviews/diana@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/reviews/diana@1x.jpg 1x,
                ./images/reviews/diana@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/reviews/diana@1x.jpg 1x,
                ./images/reviews/diana@2x.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              class="reviews__img"
              src="./images/reviews/diana@1x.jpg"
              alt="Diana"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="reviews__comment-wrap">
          <p class="reviews__comment">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <p class="reviews__author">Diana, Chicago</p>
      </div>
    </div>
  </div>
</section>
