.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $minmobile) {
    width: $minmobile;
  }

  @media screen and (min-width: $mintablet) {
    width: $mintablet;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $mindesktop) {
    width: $mindesktop;
    padding-left: 16px;
    padding-right: 16px;
  }
}
