/* Заголовки секцій */
.section-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: calc(45 / 36);

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #131313;
}

// суб заголовки секцій
.section-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: calc(37 / 30);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;
}
