header {
  width: 100%;
  margin: 0;
  padding: 0;

  position: relative;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 12px;
  max-height: 50px;

  @media (min-width: 768px) {
    padding-top: 20px;
    max-height: 65px;
  }
  @media (min-width: 1200px) {
    padding-top: 8px;
    max-height: 75px;
  }
}
.header__logo {
  display: block;
  z-index: 20;

  @media (min-width: 768px) {
    width: 48px;
    height: 44px;
    margin-top: 20px;
  }
  @media (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

.header__img {
  width: 100%;
}
.header__btn-position {
  display: flex;
  @media (min-width: 768px) {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}
.header__menu-btn {
  z-index: 20;
  background-color: transparent;
  align-items: center;
  @include flex-centred;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  color: var(--white-text-color);
  transition: color var(--animation);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media (min-width: 1200px) {
    display: none;
  }
}
.header__icon {
  background-color: transparent;

  color: inherit;
  fill: currentColor;
  stroke: currentColor;
  &--close {
    display: none;
  }
  .header__menu-btn.is-open &--close {
    display: block;
  }
  .header__menu-btn.is-open &--menu {
    display: none;
  }
}
@import './menu';
