.products.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/gallery/bg/sm-bg-@1x.jpg);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/gallery/bg/sm-bg-@2x.jpg);
  }

  // tablet
  @media (min-width: $mintablet) {
    background-image: url(../images/gallery/bg/md-bg-@1x.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/gallery/bg/md-bg-@2x.jpg);
    }
  }

  // desktop
  @media (min-width: $mindesktop) {
    background-image: url(../images/gallery/bg/lg-bg-@2x.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/gallery/bg/lg-bg-@2x.jpg);
    }
  }
}

.products__content {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;


  @media (min-width: $minmobile) {}

  @media (min-width: $mintablet) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: $mindesktop) {
    padding-left: 12px;
    padding-right: 12px;
  }
}




.products__submit {
  text-transform: uppercase;
  color: var(--black-text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;


  @media (min-width: $minmobile) {}

  @media (min-width: $mintablet) {
    font-size: 22px;
    line-height: 1.22;
  }

  @media (min-width: $mindesktop) {
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}


.products__title {
  margin-top: 12px;
  font-family: 'Seymour One';
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (min-width: $minmobile) {}

  @media (min-width: $mintablet) {
    font-size: 34px;
    line-height: 1.25;
  }

  @media (min-width: $mindesktop) {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

.products__items {
  display: flex;
  flex-direction: column;
  gap: 164px;
  margin-top: 148px;

  @media (min-width: $minmobile) {}

  @media (min-width: $mintablet) {
    flex-direction: row;
    margin-top: 200px;
    gap: 16px;
  }

  @media (min-width: $mindesktop) {
    margin-top: 303px;
    gap: 32px;
  }
}

.products__item--icecream {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  max-width: 440px;
  height: 420px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--green-fon-color);
  border-radius: 24px;

  @media (min-width: $mintablet) {
    width: 224px;
    height: 428px;
    padding-left: 26px;
    padding-right: 26px;
  }

  @media (min-width: $mindesktop) {
    width: 370px;
    height: 535px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.products__item--icecoffee {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
  height: 420px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--yellow-fon-color);
  border-radius: 24px;

  @media (min-width: $mintablet) {
    width: 224px;
    height: 428px;
    padding-left: 26px;
    padding-right: 26px;
  }

  @media (min-width: $mindesktop) {
    width: 370px;
    height: 535px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.products__item--milkshakes {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
  height: 420px;

  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--brown-fon-color);
  border-radius: 24px;

  @media (min-width: $mintablet) {
    width: 224px;
    height: 428px;
    padding-left: 26px;
    padding-right: 26px;
  }

  @media (min-width: $mindesktop) {
    width: 370px;
    height: 535px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.products__img {
  position: absolute;
  width: 200px;
  top: -55px;
  left: calc(50% - 100px);
}

.products__fon--icecream {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -100px;
  left: calc(50% - 100px);
  border-radius: 50%;
  background: linear-gradient(0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.products__fon--icecoffee {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -100px;
  left: calc(50% - 100px);
  border-radius: 50%;
  background: linear-gradient(0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products__fon--milkshakes {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -100px;
  left: calc(50% - 100px);
  border-radius: 50%;
  background: linear-gradient(0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.products__item-title {
  padding-top: 123px;

  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (min-width: $minmobile) {}

  @media (min-width: $mintablet) {
    padding-top: 107px;
    font-size: 22px;
    line-height: 1.23;
  }

  @media (min-width: $mindesktop) {
    padding-top: 165px;

    font-size: 30px;
    line-height: 1.23;
  }
}

.products__text {
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;

  @media (min-width: $mintablet) {}

  @media (min-width: $mindesktop) {
    margin-top: 65px;
    font-size: 16px;
  }
}

// Стрілка виклику модалки (стилі copy з hero)
.products__description-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 96px;
  padding: 0;
  background-color: transparent;
  color: inherit;

  @media (min-width: 1200px) {
    margin-top: 30px;
  }
}

.products__description-icon {
  height: 15px;
  fill: currentColor;
  transition: transform 500ms;

  .products__description-btn:hover & {
    transform: scaleX(1.3);
  }

  .products__description-btn:focus & {
    transform: scale(1.5);
  }
}